
p.FM_SourceFigure {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     7.200pt;
        margin-top:      0.000pt;
        margin-bottom:   5.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      italic;
        font-weight:     normal;
        font-size:       8.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_SeparatorX {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     bold;
        font-size:       28.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_NumSeq3Next {
        margin-left:     126.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -18.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     normal;
        font-size:       12.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Footnote3 {
        margin-left:     90.000pt;
        margin-right:    18.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     normal;
        font-size:       10.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Footnote {
        margin-left:     30.000pt;
        margin-right:    18.000pt;
        text-align:      left;
        text-indent:     88.800pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     normal;
        font-size:       10.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_EconCellRight {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      right;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_copyinform {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      center;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_CellHeading1 {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     36.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_copycompname {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      center;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     bold;
        font-size:       11.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_CellHeading2 {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      center;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     bold;
        font-size:       11.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        font-variant:    small-caps;
        
}
p.FM_NumSeq1 {
        margin-left:     68.400pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -14.400pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     normal;
        font-size:       12.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_List1 {
        margin-left:     72.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -18.000pt;
        margin-top:      0.000pt;
        margin-bottom:   12.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     normal;
        font-size:       12.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_EconCellHeadingReg {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     14.400pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     normal;
        font-size:       10.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_EconCellHeadingBold {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     bold;
        font-size:       10.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_EconCellBodyLeft {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     3.600pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_CellHeading3 {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      center;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_CellHeading {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     bold;
        font-size:       9.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_CellBodyR1 {
        margin-left:     0.000pt;
        margin-right:    7.200pt;
        text-align:      right;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_CellBodyL {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_BodyText7 {
        margin-left:     54.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     18.000pt;
        margin-top:      12.000pt;
        margin-bottom:   6.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     normal;
        font-size:       12.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Title {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      center;
        text-indent:     0.000pt;
        margin-top:      23.000pt;
        margin-bottom:   11.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     bold;
        font-size:       18.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_SeparatorsIX {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     bold;
        font-size:       28.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_NumSeq2 {
        margin-left:     90.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -18.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     normal;
        font-size:       12.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_MappingTableTitle {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      2.000pt;
        margin-bottom:   2.000pt;
        word-spacing:    0.250em;
        font-family:     Times New Roman;
        font-style:      normal;
        font-weight:     normal;
        font-size:       14.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_List2 {
        margin-left:     90.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -18.000pt;
        margin-top:      0.000pt;
        margin-bottom:   12.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     normal;
        font-size:       12.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Heading1 {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      14.000pt;
        margin-bottom:   6.000pt;
        word-spacing:    0.250em;
        font-family:     Times New Roman;
        font-style:      normal;
        font-weight:     bold;
        font-size:       14.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_CellHeading312pt {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      center;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     normal;
        font-size:       12.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_CellBodyR2 {
        margin-left:     0.000pt;
        margin-right:    14.400pt;
        text-align:      right;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Bulleted {
        margin-left:     18.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -18.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Times New Roman;
        font-style:      normal;
        font-weight:     normal;
        font-size:       12.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Pageend {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     bold;
        font-size:       7.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_NumSeq3 {
        margin-left:     126.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -18.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     normal;
        font-size:       12.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_List3 {
        margin-left:     126.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -18.000pt;
        margin-top:      0.000pt;
        margin-bottom:   12.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     normal;
        font-size:       12.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_HeadingRunIn {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      6.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Times New Roman;
        font-style:      normal;
        font-weight:     bold;
        font-size:       12.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Heading2 {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      12.000pt;
        margin-bottom:   3.000pt;
        word-spacing:    0.250em;
        font-family:     Times New Roman;
        font-style:      normal;
        font-weight:     bold;
        font-size:       12.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_CellHeading212pt {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      center;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     bold;
        font-size:       12.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_CellBodyR3 {
        margin-left:     0.000pt;
        margin-right:    21.600pt;
        text-align:      right;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Table1 {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      center;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     bold;
        font-size:       14.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Heading1 {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   80.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     normal;
        font-size:       18.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_CellBodyR4 {
        margin-left:     0.000pt;
        margin-right:    28.800pt;
        text-align:      right;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Bullet4ss {
        margin-left:     158.400pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -14.400pt;
        margin-top:      0.000pt;
        margin-bottom:   6.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     normal;
        font-size:       12.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Table2 {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      center;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     bold;
        font-size:       14.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_ProfileHeadingGrey {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     bold;
        font-size:       12.0pt;
        color:           #949494;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Heading2 {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     36.000pt;
        margin-top:      42.000pt;
        margin-bottom:   12.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     bold;
        font-size:       14.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Figure1 {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      center;
        text-indent:     0.000pt;
        margin-top:      5.000pt;
        margin-bottom:   5.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     bold;
        font-size:       10.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_CellHeading2LeftTop {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     bold;
        font-size:       12.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_CellHeading2LeftSpace {
        margin-left:     14.400pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     bold;
        font-size:       11.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        font-variant:    small-caps;
        
}
p.FM_CellBodyR5 {
        margin-left:     0.000pt;
        margin-right:    36.000pt;
        text-align:      right;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Bullet3ss {
        margin-left:     86.400pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     21.600pt;
        margin-top:      0.000pt;
        margin-bottom:   6.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     normal;
        font-size:       12.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Table3 {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      center;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     bold;
        font-size:       14.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Heading3 {
        margin-left:     18.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     54.000pt;
        margin-top:      12.000pt;
        margin-bottom:   12.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     bold;
        font-size:       12.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Figure2 {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      center;
        text-indent:     0.000pt;
        margin-top:      5.000pt;
        margin-bottom:   5.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     bold;
        font-size:       10.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_EconCellBodyCenter {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      center;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     normal;
        font-size:       10.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_CellBodyR6 {
        margin-left:     0.000pt;
        margin-right:    43.200pt;
        text-align:      right;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Bullet2ss {
        margin-left:     86.400pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -14.400pt;
        margin-top:      0.000pt;
        margin-bottom:   6.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     normal;
        font-size:       12.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Bullet115 {
        margin-left:     68.400pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -14.400pt;
        margin-top:      0.000pt;
        margin-bottom:   6.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     normal;
        font-size:       12.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Titleproedi {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   4.500pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     normal;
        font-size:       12.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.01em;
        
}
p.FM_Heading4 {
        margin-left:     47.520pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     42.480pt;
        margin-top:      12.000pt;
        margin-bottom:   12.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     bold;
        font-size:       12.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Heading2step {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     36.000pt;
        margin-top:      42.000pt;
        margin-bottom:   12.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     bold;
        font-size:       14.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Footer {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      italic;
        font-weight:     normal;
        font-size:       7.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Figure3 {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      center;
        text-indent:     0.000pt;
        margin-top:      5.000pt;
        margin-bottom:   5.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     bold;
        font-size:       10.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_CellBodyR7 {
        margin-left:     0.000pt;
        margin-right:    50.400pt;
        text-align:      right;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_CellBodyR {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      right;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_CellBodyLB {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     bold;
        font-size:       9.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Bullet215 {
        margin-left:     86.400pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -14.400pt;
        margin-top:      0.000pt;
        margin-bottom:   6.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     normal;
        font-size:       12.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Bullet1ss {
        margin-left:     68.400pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -14.400pt;
        margin-top:      0.000pt;
        margin-bottom:   6.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     normal;
        font-size:       12.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Titlepagetitle {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     bold;
        font-size:       44.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_titlepagesub {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      10.800pt;
        margin-bottom:   311.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     normal;
        font-size:       22.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_ProfileCellBody {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     normal;
        font-size:       12.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Heading5 {
        margin-left:     36.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     36.000pt;
        margin-top:      12.000pt;
        margin-bottom:   3.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     bold;
        font-size:       12.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Heading3step {
        margin-left:     18.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     54.000pt;
        margin-top:      12.000pt;
        margin-bottom:   12.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     bold;
        font-size:       12.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Bullet315 {
        margin-left:     122.400pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -14.400pt;
        margin-top:      0.000pt;
        margin-bottom:   6.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     normal;
        font-size:       12.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_titlepagecom {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   4.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     bold;
        font-size:       14.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.01em;
        
}
p.FM_TableTitle {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      center;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Times New Roman;
        font-style:      normal;
        font-weight:     bold;
        font-size:       12.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Tableline {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      center;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   2.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     bold;
        font-size:       14.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Section {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     bold;
        font-size:       18.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Heading6 {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      center;
        text-indent:     36.000pt;
        margin-top:      17.000pt;
        margin-bottom:   17.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     bold;
        font-size:       14.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_EconCellHeading {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     bold;
        font-size:       10.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        font-variant:    small-caps;
        
}
p.FM_EconCellHeadCenter {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      center;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     bold;
        font-size:       10.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_CellHeading2LEFT {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     bold;
        font-size:       11.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        font-variant:    small-caps;
        
}
p.FM_CellBodyC {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      center;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Heading7 {
        margin-left:     36.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      17.000pt;
        margin-bottom:   17.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     bold;
        font-size:       14.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_EconCellBody {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      center;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     bold;
        font-size:       9.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_CellHeading2Center {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      center;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     bold;
        font-size:       11.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        font-variant:    small-caps;
        
}
p.FM_CellHeading12pt {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     bold;
        font-size:       12.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_ProfileCellBodyItalic {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      italic;
        font-weight:     normal;
        font-size:       12.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Numbered {
        margin-left:     18.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -18.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Times New Roman;
        font-style:      normal;
        font-weight:     normal;
        font-size:       12.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Heading8 {
        margin-left:     36.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     18.000pt;
        margin-top:      12.000pt;
        margin-bottom:   6.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     bold;
        font-size:       12.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Tableline2 {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      center;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     normal;
        font-size:       10.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_SourceProfile {
        margin-left:     45.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     70.200pt;
        margin-top:      0.000pt;
        margin-bottom:   5.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      italic;
        font-weight:     normal;
        font-size:       8.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_ProfAddress {
        margin-left:     54.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     normal;
        font-size:       12.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Heading9 {
        margin-left:     36.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     36.000pt;
        margin-top:      12.000pt;
        margin-bottom:   3.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     normal;
        font-size:       8.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_EconCellBodyRight {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      center;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     normal;
        font-size:       8.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_copystate {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      center;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     normal;
        font-size:       9.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_BodyText1 {
        margin-left:     36.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     18.000pt;
        margin-top:      12.000pt;
        margin-bottom:   6.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     normal;
        font-size:       12.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_TableToTop {
        margin-left:     90.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     18.000pt;
        margin-top:      2.000pt;
        margin-bottom:   1.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     normal;
        font-size:       2.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_SourceTable {
        margin-left:     45.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   5.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      italic;
        font-weight:     normal;
        font-size:       8.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Numbered1 {
        margin-left:     18.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -18.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Times New Roman;
        font-style:      normal;
        font-weight:     normal;
        font-size:       12.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_MappingTableCell {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      2.000pt;
        margin-bottom:   2.000pt;
        word-spacing:    0.250em;
        font-family:     Times New Roman;
        font-style:      normal;
        font-weight:     normal;
        font-size:       12.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Figureline2 {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      center;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     normal;
        font-size:       10.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Figureline {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      center;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   6.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     bold;
        font-size:       10.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_BodyText2 {
        margin-left:     54.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     18.000pt;
        margin-top:      12.000pt;
        margin-bottom:   6.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     normal;
        font-size:       12.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_TableFootnote {
        margin-left:     30.000pt;
        margin-right:    18.000pt;
        text-align:      left;
        text-indent:     -12.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Times New Roman;
        font-style:      normal;
        font-weight:     normal;
        font-size:       10.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_NumSeq1Next {
        margin-left:     68.400pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -14.400pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     normal;
        font-size:       12.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Footnote1 {
        margin-left:     36.000pt;
        margin-right:    18.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     normal;
        font-size:       10.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_BodyText3 {
        margin-left:     90.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     18.000pt;
        margin-top:      12.000pt;
        margin-bottom:   6.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     normal;
        font-size:       12.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Body {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Times New Roman;
        font-style:      normal;
        font-weight:     normal;
        font-size:       12.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_titlepageloca {
        margin-left:     0.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     normal;
        font-size:       14.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.01em;
        
}
p.FM_NumSeq2Next {
        margin-left:     86.400pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     -14.400pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     normal;
        font-size:       12.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Indented {
        margin-left:     18.000pt;
        margin-right:    0.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Times New Roman;
        font-style:      normal;
        font-weight:     normal;
        font-size:       12.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_Footnote2 {
        margin-left:     54.000pt;
        margin-right:    18.000pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     normal;
        font-size:       10.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
p.FM_CellBody {
        margin-left:     14.400pt;
        margin-right:    28.800pt;
        text-align:      left;
        text-indent:     0.000pt;
        margin-top:      0.000pt;
        margin-bottom:   0.000pt;
        word-spacing:    0.250em;
        font-family:     Optima;
        font-style:      normal;
        font-weight:     normal;
        font-size:       11.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
OL, UL {
        margin-top: 0px;
        margin-bottom: 0px;
}

span.FM_CommentReference {
        font-family:     Arial;
        font-style:      italic;
        font-weight:     bold;
        font-size:       12.0pt;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
span.FM_EquationVariables {
        font-style:      italic;
        
}
span.FM_Emphasis {
        font-style:      italic;
        text-decoration: none;
        
}
span.FM_Strong {
        font-weight:     bold;
        text-decoration: none;
        
}
span.FM_PageNumber {
        
}
span.FM_Symbol {
        font-family:     Symbol;
        font-size:       12.0pt;
        letter-spacing:  0.00em;
        
}
span.FM_Callout {
        font-family:     Times New Roman;
        font-style:      normal;
        font-weight:     normal;
        font-size:       10.0pt;
        color:           #000000;
        letter-spacing:  0.00em;
        
}
span.FM_Hyperlink {
        color:           #0000ff;
        text-decoration: underline;
        
}
span.FM_BulletSymbol {
        font-family:     Optima;
        font-style:      normal;
        font-weight:     bold;
        font-size:       12.0pt;
        color:           #000000;
        text-decoration: none;
        letter-spacing:  0.00em;
        
}
span.FM_DefaultXREFstyle {
        color:           #00ff00;
        
}
span.FM_FollowedHyperlink {
        color:           #7d007d;
        text-decoration: underline;
        
}